fedex/wsdl/test_server_wsdl/TrackService_v4.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://fedex.com/ws/track/v4" xmlns:s1="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://fedex.com/ws/track/v4" name="TrackServiceDefinitions">
  <types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fedex.com/ws/track/v4" elementFormDefault="qualified" attributeFormDefault="qualified">
      <xs:element name="TrackRequest" type="ns:TrackRequest"/>
      <xs:element name="TrackReply" type="ns:TrackReply"/>
      <xs:element name="TrackNotificationRequest" type="ns:TrackNotificationRequest"/>
      <xs:element name="TrackNotificationReply" type="ns:TrackNotificationReply"/>
      <xs:element name="SignatureProofOfDeliveryFaxRequest" type="ns:SignatureProofOfDeliveryFaxRequest"/>
      <xs:element name="SignatureProofOfDeliveryFaxReply" type="ns:SignatureProofOfDeliveryFaxReply"/>
	  <xs:element name="SignatureProofOfDeliveryLetterRequest" type="ns:SignatureProofOfDeliveryLetterRequest"/>
      <xs:element name="SignatureProofOfDeliveryLetterReply" type="ns:SignatureProofOfDeliveryLetterReply"/>
      <xs:complexType name="TrackRequest">
        <xs:annotation>
          <xs:documentation>The descriptive data sent by a client to track a FedEx package.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail" minOccurs="1">
            <xs:annotation>
              <xs:documentation>The descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClientDetail" type="ns:ClientDetail">
            <xs:annotation>
              <xs:documentation>The descriptive data identifying the client submitting the transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Descriptive data that governs data payload language/translations.  The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Version" type="ns:VersionId">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CarrierCode" type="ns:CarrierCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Not available at this time. For FedEx internal use only.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PackageIdentifier" type="ns:TrackPackageIdentifier">
            <xs:annotation>
              <xs:documentation>Identifies the package that tracking information is being requested of.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TrackingNumberUniqueIdentifier" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Required if a previous track-by-number response indicated that duplicates exist. The previous response will return summary information about the available choices along with this field. If it is desired to fully track one of the items returned in the duplicate summary reply, then the subsequent request must contain the tracking number and the paired unmodified unique ID. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ShipDateRangeBegin" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Required entry of date range to find desired results for reference tracking number. If not provided, FedEx will default to a range that may not refine the search as needed. If provided, ShipDateRangeEnd is required.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ShipDateRangeEnd" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>If provided, ShipDateRangeBegin is required. Required entry of date range to find desired results for reference tracking number. If not provided, results may vary</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ShipmentAccountNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Providing the ShipmentAccountNumber will return all packages matching the search value and associated with this account. If account is not specified, then the destination country and postal (applicable countries) is required. The Reply data may be restricted if ShipmentAccountNumber is not provided.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Destination" type="ns:Address" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The descriptive data for the physical location to which the shipment is destined.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IncludeDetailedScans" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>If false (the default) then reply will contain summary/profile data including current status. If true reply contains profile + detailed scan activity (multiple TrackDetail objects) for each package.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PagingToken" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Required in order to obtain the additional data on second and subsequent track requests when more related tracking numbers exist that exceed the capacity of any one response structure. Should be absent from any first Track request. Populate PagingToken value with the contents returned in the previous reply PagingToken element. Populate TrackPackageIdentifier value with original request value.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TrackReply">
        <xs:annotation>
          <xs:documentation>The descriptive data returned from a FedEx package tracking request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="HighestSeverity" type="ns:NotificationSeverityType">
            <xs:annotation>
              <xs:documentation>Identifies the highest severity encountered when executing the request; in order from high to low: FAILURE, ERROR, WARNING, NOTE, SUCCESS.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Notifications" type="ns:Notification" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The descriptive data detailing the status of a submitted transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Descriptive data that governs data payload language/translations.  The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Version" type="ns:VersionId" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DuplicateWaybill" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>True if duplicates exist that requires further request detail to qualify the specific shipment. Returned if a track by number results in duplicates</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MoreData" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>True if more data exists. Returned if a track by number results in duplicates.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PagingToken" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Populated in the response when more related tracking information exist that exceed the capacity of any one response structure. Client should populate PagingToken value in subsequent track requests with the value returned in the previous reply. DO not modify the field value. Returned if a track by number results in duplicates.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TrackDetails" type="ns:TrackDetail" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Holds detailed tracking information for the requested package.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TrackSplitShipmentPart">
        <xs:annotation>
          <xs:documentation>Returned for cargo shipments only when they are currently split across vehicles.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="PieceCount" type="xs:int" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Number of pieces/skids traveling together.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Timestamp" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Time this package was delivered.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StatusCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The most recent status code for this specific split.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StatusDescription" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The most recent status description for a specific split.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TrackReconciliation">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Status" type="xs:string">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:element>
          <xs:element name="Description" type="xs:string">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TrackNotificationRequest">
        <xs:annotation>
          <xs:documentation>FedEx Track Notification request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail" minOccurs="1">
            <xs:annotation>
              <xs:documentation>The descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClientDetail" type="ns:ClientDetail">
            <xs:annotation>
              <xs:documentation>The descriptive data identifying the client submitting the transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The descriptive data for this customer transaction. The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Version" type="ns:VersionId">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TrackingNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Tracking number.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MultiPiece" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Indicates whether to return tracking information for all associated packages.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PagingToken" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>To obtain additional data on second and subsequent TrackNotification requests.Client must submit this value in subsequent track requests in order to obtain next page of data. Must contain at least four characters.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TrackingNumberUniqueId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Populate only if the TrackingNumberUniqueId is known from a previous Tracking request or an Email notifications request that resulted in a duplicate reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ShipDateRangeBegin" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Recommend providing date range to find desired track number by limiting the results to this range. If not provided FedEx will default to a range that may not be useful for the search.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ShipDateRangeEnd" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>If provided, ShipDateRangeBegin is required. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SenderEMailAddress" type="xs:string">
            <xs:annotation>
              <xs:documentation>Included in the notification identifying the requester of this notification.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SenderContactName" type="xs:string">
            <xs:annotation>
              <xs:documentation>Included in the notification identifying the requester of this notification.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotificationDetail" type="ns:EMailNotificationDetail">
            <xs:annotation>
              <xs:documentation>Email notification details.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TrackNotificationReply">
        <xs:annotation>
          <xs:documentation>FedEx Track Notification reply.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="HighestSeverity" type="ns:NotificationSeverityType">
            <xs:annotation>
              <xs:documentation>Identifies the highest severity encountered when executing the request; in order from high to low: FAILURE, ERROR, WARNING, NOTE, SUCCESS.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Notifications" type="ns:Notification" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The descriptive data detailing the status of a submitted transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Descriptive data that governs data payload language/translations.  The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Version" type="ns:VersionId" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DuplicateWaybill" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>True if duplicate packages with the same tracking number have been found, and only limited data will be provided for each one.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MoreDataAvailable" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>True if additional packages remain to be retrieved.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PagingToken" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Value that must be passed in a TrackNotification request to retrieve the next set of packages.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Packages" type="ns:TrackNotificationPackage" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Data pertaining to packages.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SignatureProofOfDeliveryFaxRequest">
        <xs:annotation>
          <xs:documentation>FedEx Signature Proof Of Delivery Fax request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail" minOccurs="1">
            <xs:annotation>
              <xs:documentation>The descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClientDetail" type="ns:ClientDetail">
            <xs:annotation>
              <xs:documentation>The descriptive data identifying the client submitting the transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The descriptive data for this customer transaction. The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Version" type="ns:VersionId">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>          
          <xs:element name="QualifiedTrackingNumber" type="ns:QualifiedTrackingNumber" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Tracking number and additional shipment data used to identify a unique shipment for proof of delivery.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AdditionalComments" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>More information.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FaxSender" type="ns:ContactAndAddress" minOccurs="0"/>
          <xs:element name="FaxRecipient" type="ns:ContactAndAddress" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the recipient's fax details.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SignatureProofOfDeliveryFaxReply">
        <xs:annotation>
          <xs:documentation>FedEx Signature Proof Of Delivery Fax reply.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="HighestSeverity" type="ns:NotificationSeverityType">
            <xs:annotation>
              <xs:documentation>Identifies the highest severity encountered when executing the request; in order from high to low: FAILURE, ERROR, WARNING, NOTE, SUCCESS.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Notifications" type="ns:Notification" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The descriptive data detailing the status of a submitted transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Descriptive data that governs data payload language/translations.  The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Version" type="ns:VersionId" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FaxConfirmationNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Confirmation of fax transmission.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
	  <xs:complexType name="SignatureProofOfDeliveryLetterRequest">
        <xs:annotation>
          <xs:documentation>FedEx Signature Proof Of Delivery Letter request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail" minOccurs="1">
            <xs:annotation>
              <xs:documentation>The descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClientDetail" type="ns:ClientDetail">
            <xs:annotation>
              <xs:documentation>The descriptive data identifying the client submitting the transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>          
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The descriptive data for this customer transaction. The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Version" type="ns:VersionId">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>          
          <xs:element name="QualifiedTrackingNumber" type="ns:QualifiedTrackingNumber" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Tracking number and additional shipment data used to identify a unique shipment for proof of delivery.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AdditionalComments" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>More information.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LetterFormat" type="ns:SignatureProofOfDeliveryImageType" minOccurs="0">
            <xs:annotation>
              <xs:documentation> Must be specified when type is LETTER.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignee" type="ns:ContactAndAddress" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Information to be substituted for recipient information in letter. The actual delivery details will be available by default.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
	  <xs:complexType name="SignatureProofOfDeliveryLetterReply">
        <xs:annotation>
          <xs:documentation>FedEx Signature Proof Of Delivery Letter reply.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="HighestSeverity" type="ns:NotificationSeverityType">
            <xs:annotation>
              <xs:documentation>Identifies the highest severity encountered when executing the request; in order from high to low: FAILURE, ERROR, WARNING, NOTE, SUCCESS.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Notifications" type="ns:Notification" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The descriptive data detailing the status of a submitted transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Descriptive data that governs data payload language/translations.  The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Version" type="ns:VersionId" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Letter" type="xs:base64Binary" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Base64-encoded SPOD Letter.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TrackNotificationPackage">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="TrackingNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:element>
          <xs:element name="TrackingNumberUniqueIdentifiers" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:element>
          <xs:element name="CarrierCode" type="ns:CarrierCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:element>
          <xs:element name="ShipDate" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:element>
          <xs:element name="Destination" type="ns:Address" minOccurs="0">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:element>
          <xs:element name="RecipientDetails" type="ns:TrackNotificationRecipientDetail" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TrackNotificationRecipientDetail">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="NotifyOnDelivery" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifyOnException" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EMailNotificationDetail">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="PersonalMessage" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Personal messages are not applicable with wireless formatted notifications. UTF-8 encoded message.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Recipients" type="ns:EMailNotificationRecipient" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Currently up to a maximum of 6 email combinations are supported.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EMailNotificationRecipient">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="EMailAddress" type="xs:string">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifyOnException" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifyOnDelivery" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:element>
          <xs:element name="Format" type="ns:EMailNotificationFormatType">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:element>
          <xs:element name="Localization" type="ns:Localization" minOccurs="0">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Address">
        <xs:annotation>
          <xs:documentation>The descriptive data for a physical location.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="StreetLines" type="xs:string" minOccurs="0" maxOccurs="2">
            <xs:annotation>
              <xs:documentation>Combination of number, street name, etc. At least one line is required for a valid physical address; empty lines should not be included.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="City" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Name of city, town, etc.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StateOrProvinceCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifying abbreviation for US state, Canada province, etc. Format and presence of this field will vary, depending on country. This element is required if PostalCode is not present.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PostalCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identification of a region (usually small) for mail/package delivery. Format and presence of this field will vary, depending on country. This element is required if both the City and StateOrProvinceCode are not present.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UrbanizationCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Currently not supported.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identification of a country.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Residential" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Currently not supported.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="CarrierCodeType">
        <xs:annotation>
          <xs:documentation>Identification of a FedEx operating company (transportation).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="FDXC"/>
          <xs:enumeration value="FDXE"/>
          <xs:enumeration value="FDXG"/>
          <xs:enumeration value="FXCC"/>
          <xs:enumeration value="FXFR"/>
          <xs:enumeration value="FXSP"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="ClientDetail">
        <xs:annotation>
          <xs:documentation>The descriptive data identifying the client submitting the transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="AccountNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>The FedEx account number assigned to the customer initiating the request.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MeterNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the unique client device submitting the request. This number is assigned by FedEx and identifies the unique device from which the request is originating.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IntegratorId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>FedEx Office Integrator Id</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Localization" type="ns:Localization" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Governs any future language/translations used for human-readable Notification.localizedMessages in responses to the request containing this ClientDetail object. Different requests from the same client may contain different Localization data. (Contrast with TransactionDetail.localization, which governs data payload language/translation.)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Distance">
        <xs:annotation>
          <xs:documentation>The descriptive data that defines the extent of space between two objects or places.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Value" type="xs:decimal" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the distance quantity.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Units" type="ns:DistanceUnits" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the unit of measure for the distance value.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="DistanceUnits">
        <xs:annotation>
          <xs:documentation>Identifies the collection of units of measure that can be associated with a distance value.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="KM"/>
          <xs:enumeration value="MI"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Localization">
        <xs:annotation>
          <xs:documentation>The descriptive data for the local language and locale (i.e. country).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="LanguageCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the language to use for human-readable messages.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LocaleCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the locale (i.e.  country code).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Notification">
        <xs:annotation>
          <xs:documentation>The descriptive data regarding the results of the submitted transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Severity" type="ns:NotificationSeverityType">
            <xs:annotation>
              <xs:documentation>Identifies the severity of the Notification item. See NotificationSeverityType for list of returned values.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Source" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the source - what FedEx system, sub-system, or component generated the Notification item.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Code" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the error code generated by the FedEx system, sub-system or component.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Message" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the error message text.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LocalizedMessage" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the error message text in the localization requested. Currently not supported.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MessageParameters" type="ns:NotificationParameter" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Used internally by FedEx systems for message translation.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NotificationParameter">
        <xs:sequence>
          <xs:element name="Id" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Name identifying the type of the data in the element 'Value'.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Value" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The value that was used as the replacement parameter.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="NotificationSeverityType">
        <xs:annotation>
          <xs:documentation>Identifies the set of severity values for a Notification.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ERROR"/>
          <xs:enumeration value="FAILURE"/>
          <xs:enumeration value="NOTE"/>
          <xs:enumeration value="SUCCESS"/>
          <xs:enumeration value="WARNING"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="PackagingType">
        <xs:annotation>
          <xs:documentation>The enumerated packaging type used for this package.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="FEDEX_10KG_BOX"/>
          <xs:enumeration value="FEDEX_25KG_BOX"/>
          <xs:enumeration value="FEDEX_BOX"/>
          <xs:enumeration value="FEDEX_ENVELOPE"/>
          <xs:enumeration value="FEDEX_PAK"/>
          <xs:enumeration value="FEDEX_TUBE"/>
          <xs:enumeration value="YOUR_PACKAGING"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ServiceType">
        <xs:annotation>
          <xs:documentation>The service type of the package/shipment.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="EUROPE_FIRST_INTERNATIONAL_PRIORITY"/>
          <xs:enumeration value="FEDEX_1_DAY_FREIGHT"/>
          <xs:enumeration value="FEDEX_2_DAY"/>
          <xs:enumeration value="FEDEX_2_DAY_FREIGHT"/>
          <xs:enumeration value="FEDEX_3_DAY_FREIGHT"/>
          <xs:enumeration value="FEDEX_EXPRESS_SAVER"/>
          <xs:enumeration value="FEDEX_FREIGHT"/>
          <xs:enumeration value="FEDEX_GROUND"/>
          <xs:enumeration value="FEDEX_NATIONAL_FREIGHT"/>
          <xs:enumeration value="FIRST_OVERNIGHT"/>
          <xs:enumeration value="GROUND_HOME_DELIVERY"/>
          <xs:enumeration value="INTERNATIONAL_DISTRIBUTION_FREIGHT"/>
          <xs:enumeration value="INTERNATIONAL_ECONOMY"/>
          <xs:enumeration value="INTERNATIONAL_ECONOMY_DISTRIBUTION"/>
          <xs:enumeration value="INTERNATIONAL_ECONOMY_FREIGHT"/>
          <xs:enumeration value="INTERNATIONAL_FIRST"/>
          <xs:enumeration value="INTERNATIONAL_PRIORITY"/>
          <xs:enumeration value="INTERNATIONAL_PRIORITY_DISTRIBUTION"/>
          <xs:enumeration value="INTERNATIONAL_PRIORITY_FREIGHT"/>
          <xs:enumeration value="PRIORITY_OVERNIGHT"/>
          <xs:enumeration value="SMART_POST"/>
          <xs:enumeration value="STANDARD_OVERNIGHT"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="TrackDeliveryLocationType">
        <xs:annotation>
          <xs:documentation>The delivery location at the delivered to address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="FEDEX_LOCATION"/>
          <xs:enumeration value="GUARD_OR_SECURITY_STATION"/>
          <xs:enumeration value="IN_BOND_OR_CAGE"/>
          <xs:enumeration value="MAILROOM"/>
          <xs:enumeration value="OTHER"/>
          <xs:enumeration value="PHARMACY"/>
          <xs:enumeration value="RECEPTIONIST_OR_FRONT_DESK"/>
          <xs:enumeration value="RESIDENCE"/>
          <xs:enumeration value="SHIPPING_RECEIVING"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="TrackDetail">
        <xs:annotation>
          <xs:documentation>Detailed tracking information about a particular package.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Notification" type="ns:Notification" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Holds error or warning information for a particular package.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TrackingNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The tracking number of this package.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TrackingNumberUniqueIdentifier" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Further identifies a tracking number in case duplicates exist. Returned if a track by number results in duplicates.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StatusCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>For example, SP = split shipment.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StatusDescription" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Tracking status description of this package.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Reconciliation" type="ns:TrackReconciliation" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Tracking reconciliation of this package.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ServiceCommitMessage" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Only applicable to H3 Express freight areas inbound to U.S. to FedEx location only. Additional days may be required for final delivery. Please call Customer Service for details.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CarrierCode" type="ns:CarrierCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Carrier associated with tracking number.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OtherIdentifiers" type="ns:TrackPackageIdentifier" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Other related identifiers for this package such as reference numbers. May occur zero to many times for each tracking number.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ServiceInfo" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The service type of this package.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ServiceType" type="ns:ServiceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The enumerated service type of this package.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PackageWeight" type="ns:Weight" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The weight of this package.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PackageDimensionalWeight" type="ns:Weight" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Not available at this time.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ShipmentWeight" type="ns:Weight" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The weight of this entire shipment.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Packaging" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The packaging type of this package.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PackagingType" type="ns:PackagingType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The enumerated packaging type used for this package.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PackageSequenceNumber" type="xs:nonNegativeInteger" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The sequence of the package for FedEx Express international MPS (1 of X).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PackageCount" type="xs:nonNegativeInteger" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The number of pieces in this shipment.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ShipperAddress" type="ns:Address" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The address information for the shipper.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OriginLocationAddress" type="ns:Address" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The address information for the origin of the package.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EstimatedPickupTimestamp" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Estimated package pickup time for shipments that haven't been picked up yet.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ShipTimestamp" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Time package was shipped/tendered over to FedEx. Time portion will be populated if available, otherwise will be set to midnight.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalTransitDistance" type="ns:Distance" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Total distance package traveled. Returned in miles only at this time.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DistanceToDestination" type="ns:Distance" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Total distance package still has to travel. Returned in miles only at this time.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationAddress" type="ns:Address" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The address the package is destined to.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationLocationAddress" type="ns:Address" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The address of the carrier facility for the package destination.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EstimatedDeliveryTimestamp" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Projected package delivery time based on ship time stamp, service and destination. Not populated if delivery has already occurred.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActualDeliveryTimestamp" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The time the package was actually delivered.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActualDeliveryAddress" type="ns:Address" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The address where the package was delivered.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeliveryLocationType" type="ns:TrackDeliveryLocationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The delivery location at the delivered to address.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeliveryLocationDescription" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>A description of where the package was delivered (Front Desk, Back Door, etc.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeliverySignatureName" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Name on delivery record or release number.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SignatureProofOfDeliveryAvailable" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>True if signed for signature image is available.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProofOfDeliveryNotificationsAvailable" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>True if delivery email updates are available for this tracking number.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExceptionNotificationsAvailable" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>True if exception email updates are available for this tracking number. Exception notifications include: General Delivery Exception, Incorrect Address,Clearance Delay, and International Shipment Release. Exception notifications are not available after shipment delivery.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SplitShipmentParts" type="ns:TrackSplitShipmentPart" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Returned for cargo shipments only when they are currently split across vehicles.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Events" type="ns:TrackEvent" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Event information for a tracking number.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TrackEvent">
        <xs:annotation>
          <xs:documentation>Holds FedEx scanning information about a package.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Timestamp" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The time the event happened.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EventType" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Carriers scan code. Pairs with EventDescription.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EventDescription" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Literal description of the Scan activity.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StatusExceptionCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Further defines the Scan Type codes specific type (e.g., DEX08 business closed). Pairs with StatusExceptionDescription.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StatusExceptionDescription" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Literal description that pairs with the StatusExceptionCode.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Address" type="ns:Address" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Address information of the station that is responsible for the scan.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArrivalLocation" type="ns:ArrivalLocationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Not available at this time.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="TrackIdentifierType">
        <xs:annotation>
          <xs:documentation>The type of track to be performed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="BILL_OF_LADING"/>
          <xs:enumeration value="COD_RETURN_TRACKING_NUMBER"/>
          <xs:enumeration value="CUSTOMER_AUTHORIZATION_NUMBER"/>
          <xs:enumeration value="CUSTOMER_REFERENCE"/>
          <xs:enumeration value="DEPARTMENT"/>
          <xs:enumeration value="FREE_FORM_REFERENCE"/>
          <xs:enumeration value="GROUND_INTERNATIONAL"/>
          <xs:enumeration value="GROUND_SHIPMENT_ID"/>
          <xs:enumeration value="GROUND_MPS"/>
          <xs:enumeration value="INVOICE"/>
          <xs:enumeration value="PARTNER_CARRIER_NUMBER"/>
          <xs:enumeration value="PART_NUMBER"/>
          <xs:enumeration value="PURCHASE_ORDER"/>
          <xs:enumeration value="RETURNED_TO_SHIPPER_TRACKING_NUMBER"/>
          <xs:enumeration value="RETURN_MATERIALS_AUTHORIZATION"/>
          <xs:enumeration value="TRACKING_NUMBER_OR_DOORTAG"/>
          <xs:enumeration value="TRANSPORTATION_CONTROL_NUMBER"/>
          <xs:enumeration value="SHIPPER_REFERENCE"/>
          <xs:enumeration value="STANDARD_MPS"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ArrivalLocationType">
        <xs:annotation>
          <xs:documentation>Not available at this time.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="AIRPORT"/>
          <xs:enumeration value="CUSTOMER"/>
          <xs:enumeration value="CUSTOMS_BROKER"/>
          <xs:enumeration value="DELIVERY_LOCATION"/>
          <xs:enumeration value="DESTINATION_AIRPORT"/>
          <xs:enumeration value="DESTINATION_FEDEX_FACILITY"/>
          <xs:enumeration value="DROP_BOX"/>
          <xs:enumeration value="ENROUTE"/>
          <xs:enumeration value="FEDEX_FACILITY"/>
          <xs:enumeration value="FEDEX_OFFICE_LOCATION"/>
          <xs:enumeration value="INTERLINE_CARRIER"/>
          <xs:enumeration value="NON_FEDEX_FACILITY"/>
          <xs:enumeration value="ORIGIN_AIRPORT"/>
          <xs:enumeration value="ORIGIN_FEDEX_FACILITY"/>
          <xs:enumeration value="PICKUP_LOCATION"/>
          <xs:enumeration value="PLANE"/>
          <xs:enumeration value="PORT_OF_ENTRY"/>
          <xs:enumeration value="SORT_FACILITY"/>
          <xs:enumeration value="TURNPOINT"/>
          <xs:enumeration value="VEHICLE"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="TrackPackageIdentifier">
        <xs:annotation>
          <xs:documentation>Idenitifies the particular package to be tracked and how it is referenced.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Value" type="xs:string">
            <xs:annotation>
              <xs:documentation>Specifies the value to be tracked (e.g., tracking number or reference value).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Type" type="ns:TrackIdentifierType">
            <xs:annotation>
              <xs:documentation>Specifies the type of track value that is specified in the previous Value element.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TransactionDetail">
        <xs:annotation>
          <xs:documentation>Descriptive data that governs data payload language/translations.  The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="CustomerTransactionId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies a customer-supplied unique identifier for this transaction. It is returned in the reply message to aid in matching requests to replies.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Localization" type="ns:Localization" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Governs any future language/translations applied to the data payload(contrasted with ClientDetail.localization, which governs Notification.localizedMessage language selection).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="VersionId">
        <xs:annotation>
          <xs:documentation>The descriptive data regarding the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="ServiceId" type="xs:string" minOccurs="1" fixed="trck">
            <xs:annotation>
              <xs:documentation>Identifies a system or sub-system which performs an operation.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Major" type="xs:int" minOccurs="1" fixed="4">
            <xs:annotation>
              <xs:documentation>Identifies the service business level.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Intermediate" type="xs:int" minOccurs="1" fixed="0">
            <xs:annotation>
              <xs:documentation>Identifies the service interface level.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Minor" type="xs:int" minOccurs="1" fixed="0">
            <xs:annotation>
              <xs:documentation>Identifies the service code level.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WebAuthenticationDetail">
        <xs:annotation>
          <xs:documentation>Used in authentication of the sender's identity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="UserCredential" type="ns:WebAuthenticationCredential" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Credential used to authenticate a specific software application. This value is provided by FedEx after registration.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WebAuthenticationCredential">
        <xs:annotation>
          <xs:documentation>Two part authentication string used for the sender's identity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Key" type="xs:string" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Identifying part of the authentication key. This value is provided by FedEx after registration.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Password" type="xs:string" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Secret part of authentication key used for authentication. This value is provided by FedEx after registration.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Weight">
        <xs:annotation>
          <xs:documentation>The descriptive data for the heaviness of an object.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Units" type="ns:WeightUnits" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the unit of measure associated with a weight value. See WeightUnits for valid values.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Value" type="xs:decimal" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the weight value of the package.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ContactAndAddress">
        <xs:sequence>
          <xs:element name="Contact" type="ns:Contact"/>
          <xs:element name="Address" type="ns:Address" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Contact">
        <xs:sequence>
          <xs:element name="PersonName" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Name of person.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Title" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Title used by contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CompanyName" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Company name.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PhoneNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Phone number of contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PhoneExtension" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Phone extension of contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PagerNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Pager number of contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FaxNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Fax number of contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EMailAddress" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Email address of contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="WeightUnits">
        <xs:annotation>
          <xs:documentation>Identifies the collection of units of measure that can be associated with a weight value.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="KG"/>
          <xs:enumeration value="LB"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="EMailNotificationRecipientType">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="BROKER"/>
          <xs:enumeration value="OTHER"/>
          <xs:enumeration value="RECIPIENT"/>
          <xs:enumeration value="SHIPPER"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="EMailNotificationFormatType">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="HTML"/>
          <xs:enumeration value="TEXT"/>
          <xs:enumeration value="WIRELESS"/>
        </xs:restriction>
      </xs:simpleType>      
      <xs:simpleType name="SignatureProofOfDeliveryImageType">
        <xs:annotation>
          <xs:documentation>Identifies the set of SPOD image types.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="PDF"/>
        </xs:restriction>
      </xs:simpleType>
	  <xs:complexType name="QualifiedTrackingNumber">
        <xs:sequence>
          <xs:element name="TrackingNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Tracking number of package.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ShipDate" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Date on which package was tendered to FedEx.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AccountNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Account number associated with shipment (as opposed to account number in ClientDetail, which is that of party sending request).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Carrier" type="ns:CarrierCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:element>
          <xs:element name="Destination" type="ns:Address" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>      
    </xs:schema>
  </types>
  <message name="TrackRequest">
    <part name="TrackRequest" element="ns:TrackRequest"/>
  </message>
  <message name="TrackReply">
    <part name="TrackReply" element="ns:TrackReply"/>
  </message>
  <message name="TrackNotificationRequest">
    <part name="TrackNotificationRequest" element="ns:TrackNotificationRequest"/>
  </message>
  <message name="TrackNotificationReply">
    <part name="TrackNotificationReply" element="ns:TrackNotificationReply"/>
  </message>
  <message name="SignatureProofOfDeliveryFaxRequest">
    <part name="SignatureProofOfDeliveryFaxRequest" element="ns:SignatureProofOfDeliveryFaxRequest"/>
  </message>
  <message name="SignatureProofOfDeliveryFaxReply">
    <part name="SignatureProofOfDeliveryFaxReply" element="ns:SignatureProofOfDeliveryFaxReply"/>
  </message>
  <message name="SignatureProofOfDeliveryLetterRequest">
    <part name="SignatureProofOfDeliveryLetterRequest" element="ns:SignatureProofOfDeliveryLetterRequest"/>
  </message>
  <message name="SignatureProofOfDeliveryLetterReply">
    <part name="SignatureProofOfDeliveryLetterReply" element="ns:SignatureProofOfDeliveryLetterReply"/>
  </message>
  <portType name="TrackPortType">
    <documentation>This element describes the web service, the operations performed and the messages involved in the operation.</documentation>
    <operation name="track" parameterOrder="TrackRequest">
      <input message="ns:TrackRequest"/>
      <output message="ns:TrackReply"/>
    </operation>
    <operation name="getTrackNotification" parameterOrder="TrackNotificationRequest">
      <input message="ns:TrackNotificationRequest"/>
      <output message="ns:TrackNotificationReply"/>
    </operation>    
	<operation name="sendSignatureProofOfDeliveryFax" parameterOrder="SignatureProofOfDeliveryFaxRequest">
      <input message="ns:SignatureProofOfDeliveryFaxRequest"/>
      <output message="ns:SignatureProofOfDeliveryFaxReply"/>
    </operation>
	<operation name="retrieveSignatureProofOfDeliveryLetter" parameterOrder="SignatureProofOfDeliveryLetterRequest">
      <input message="ns:SignatureProofOfDeliveryLetterRequest"/>
      <output message="ns:SignatureProofOfDeliveryLetterReply"/>
    </operation>
  </portType>
  <binding name="TrackServiceSoapBinding" type="ns:TrackPortType">
    <s1:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="track">
      <s1:operation soapAction="track" style="document"/>
      <input>
        <s1:body use="literal"/>
      </input>
      <output>
        <s1:body use="literal"/>
      </output>
    </operation>
    <operation name="getTrackNotification">
      <s1:operation soapAction="getTrackNotification" style="document"/>
      <input>
        <s1:body use="literal"/>
      </input>
      <output>
        <s1:body use="literal"/>
      </output>
    </operation>
	<operation name="sendSignatureProofOfDeliveryFax">
      <s1:operation soapAction="sendSignatureProofOfDeliveryFax" style="document"/>
      <input>
        <s1:body use="literal"/>
      </input>
      <output>
        <s1:body use="literal"/>
      </output>
    </operation>
    <operation name="retrieveSignatureProofOfDeliveryLetter">
      <s1:operation soapAction="retrieveSignatureProofOfDeliveryLetter" style="document"/>
      <input>
        <s1:body use="literal"/>
      </input>
      <output>
        <s1:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TrackService">
    <port name="TrackServicePort" binding="ns:TrackServiceSoapBinding">
      <s1:address location="https://gatewaybeta.fedex.com:443/web-services/track"/>
    </port>
  </service>
</definitions>
