fedex/wsdl/CloseService_v2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://fedex.com/ws/close/v2" xmlns:s1="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://fedex.com/ws/close/v2" name="CloseServiceDefinitions">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://fedex.com/ws/close/v2">
			<xs:element name="SmartPostCloseRequest" type="ns:SmartPostCloseRequest"/>
			<xs:element name="SmartPostCloseReply" type="ns:SmartPostCloseReply"/>
			<xs:element name="GroundCloseRequest" type="ns:GroundCloseRequest"/>
			<xs:element name="GroundCloseReply" type="ns:GroundCloseReply"/>
			<xs:element name="GroundCloseReportsReprintRequest" type="ns:GroundCloseReportsReprintRequest"/>
			<xs:element name="GroundCloseReportsReprintReply" type="ns:GroundCloseReportsReprintReply"/>
			<xs:simpleType name="CarrierCodeType">
				<xs:annotation>
					<xs:documentation>Identification of a FedEx operating company (transportation).</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="FDXC"/>
					<xs:enumeration value="FDXE"/>
					<xs:enumeration value="FDXG"/>
					<xs:enumeration value="FXCC"/>
					<xs:enumeration value="FXFR"/>
					<xs:enumeration value="FXSP"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ClientDetail">
				<xs:annotation>
					<xs:documentation>Descriptive data for the client submitting a transaction.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="AccountNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MeterNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IntegratorId" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Only used in transactions which require identification of the Fed Ex Office integrator.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Localization" type="ns:Localization" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The language to be used for human-readable Notification.localizedMessages in responses to the request containing this ClientDetail object. Different requests from the same client may contain different Localization data. (Contrast with TransactionDetail.localization, which governs data payload language/translation.)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="CloseReportType">
				<xs:annotation>
					<xs:documentation>?</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="ALL"/>
					<xs:enumeration value="COD"/>
					<xs:enumeration value="HAZMAT"/>
					<xs:enumeration value="MANIFEST"/>
					<xs:enumeration value="MULTIWEIGHT"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="GroundCloseReply">
				<xs:annotation>
					<xs:documentation>?</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="HighestSeverity" type="ns:NotificationSeverityType" minOccurs="1">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Notifications" type="ns:Notification" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Version" type="ns:VersionId" minOccurs="1">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CodReport" type="xs:base64Binary" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HazMatCertificate" type="xs:base64Binary" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Manifest" type="ns:ManifestFile" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MultiweightReport" type="xs:base64Binary" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GroundCloseReportsReprintReply">
				<xs:annotation>
					<xs:documentation>?</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="HighestSeverity" type="ns:NotificationSeverityType" minOccurs="1">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Notifications" type="ns:Notification" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Version" type="ns:VersionId" minOccurs="1">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CodReport" type="xs:base64Binary" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HazMatCertificate" type="xs:base64Binary" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Manifests" type="ns:ManifestFile" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GroundCloseReportsReprintRequest">
				<xs:annotation>
					<xs:documentation>?</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail">
						<xs:annotation>
							<xs:documentation>The descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ClientDetail" type="ns:ClientDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Version" type="ns:VersionId" minOccurs="1">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReportDate" type="xs:date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TrackingNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CloseReportType" type="ns:CloseReportType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GroundCloseRequest">
				<xs:annotation>
					<xs:documentation>?</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail">
						<xs:annotation>
							<xs:documentation>The descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ClientDetail" type="ns:ClientDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Version" type="ns:VersionId" minOccurs="1">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeUpToWhichShipmentsAreToBeClosed" type="xs:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifies the date and time up to which unclosed shipments are to be closed. Both the date and time portions of the string are expected to be used. The time is the local time based on the shipper's time zone. The date component must be in the format: YYYY-MM-DD (e.g. 2009-04-26). The time component must be in the format: HH:MM:SS using a 24 hour clock (e.g. 11:00 a.m. is 11:00:00, whereas 5:00 p.m. is 17:00:00). The date and time parts are separated by a T (e.g. 2009-04-26T17:00:00).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Localization">
				<xs:annotation>
					<xs:documentation>?</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="LanguageCode" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LocaleCode" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ManifestFile">
				<xs:annotation>
					<xs:documentation>?</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="FileName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="File" type="xs:base64Binary" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Notification">
				<xs:annotation>
					<xs:documentation>?</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="Severity" type="ns:NotificationSeverityType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Source" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Code" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Message" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LocalizedMessage" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MessageParameters" type="ns:NotificationParameter" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A collection of name/value pairs that provide specific data to help the client determine the nature of an error (or warning, etc.) witout having to parse the message string.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="NotificationParameter">
				<xs:annotation>
					<xs:documentation>?</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="Id" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Value" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="NotificationSeverityType">
				<xs:annotation>
					<xs:documentation>?</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="ERROR"/>
					<xs:enumeration value="FAILURE"/>
					<xs:enumeration value="NOTE"/>
					<xs:enumeration value="SUCCESS"/>
					<xs:enumeration value="WARNING"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="SmartPostCloseReply">
				<xs:annotation>
					<xs:documentation>?</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="HighestSeverity" type="ns:NotificationSeverityType" minOccurs="1">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Notifications" type="ns:Notification" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Version" type="ns:VersionId" minOccurs="1">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SmartPostCloseRequest">
				<xs:annotation>
					<xs:documentation>?</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail">
						<xs:annotation>
							<xs:documentation>The descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ClientDetail" type="ns:ClientDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Version" type="ns:VersionId" minOccurs="1">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HubId" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomerManifestId" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DestinationCountryCode" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PickUpCarrier" type="ns:CarrierCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="TransactionDetail">
				<xs:annotation>
					<xs:documentation>?</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="CustomerTransactionId" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Localization" type="ns:Localization" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Governs data payload language/translations (contrasted with ClientDetail.localization, which governs Notification.localizedMessage language selection).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="VersionId">
				<xs:annotation>
					<xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="ServiceId" type="xs:string" minOccurs="0" fixed="clos">
						<xs:annotation>
							<xs:documentation>?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Major" type="xs:int" minOccurs="0" fixed="2">
						<xs:annotation>
							<xs:documentation>Service business level.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Intermediate" type="xs:int" minOccurs="0" fixed="0">
						<xs:annotation>
							<xs:documentation>Service interface level.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Minor" type="xs:int" minOccurs="0" fixed="0">
						<xs:annotation>
							<xs:documentation>Service code level.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="WebAuthenticationDetail">
				<xs:annotation>
					<xs:documentation>The descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="UserCredential" type="ns:WebAuthenticationCredential" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Credential used to authenticate a specific software application. This value is provided by FedEx after registration.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="WebAuthenticationCredential">
				<xs:annotation>
					<xs:documentation>Two part authentication string used for the sender's identity.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="Key" type="xs:string" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Publicly known part of authentication key used for authentication. This value is provided by FedEx after registration.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>16</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="Password" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Secret part of authentication key used for authentication. This value is provided by FedEx after registration.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>25</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="SmartPostCloseRequest">
		<part name="SmartPostCloseRequest" element="ns:SmartPostCloseRequest"/>
	</message>
	<message name="SmartPostCloseReply">
		<part name="SmartPostCloseReply" element="ns:SmartPostCloseReply"/>
	</message>
	<message name="GroundCloseRequest">
		<part name="GroundCloseRequest" element="ns:GroundCloseRequest"/>
	</message>
	<message name="GroundCloseReply">
		<part name="GroundCloseReply" element="ns:GroundCloseReply"/>
	</message>
	<message name="GroundCloseReportsReprintRequest">
		<part name="GroundCloseReportsReprintRequest" element="ns:GroundCloseReportsReprintRequest"/>
	</message>
	<message name="GroundCloseReportsReprintReply">
		<part name="GroundCloseReportsReprintReply" element="ns:GroundCloseReportsReprintReply"/>
	</message>
	<portType name="ClosePortType">
		<operation name="smartPostClose" parameterOrder="SmartPostCloseRequest">
			<input message="ns:SmartPostCloseRequest"/>
			<output message="ns:SmartPostCloseReply"/>
		</operation>
		<operation name="groundClose" parameterOrder="GroundCloseRequest">
			<input message="ns:GroundCloseRequest"/>
			<output message="ns:GroundCloseReply"/>
		</operation>
		<operation name="groundCloseReportsReprint" parameterOrder="GroundCloseReportsReprintRequest">
			<input message="ns:GroundCloseReportsReprintRequest"/>
			<output message="ns:GroundCloseReportsReprintReply"/>
		</operation>
	</portType>
	<binding name="CloseServiceSoapBinding" type="ns:ClosePortType">
		<s1:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="smartPostClose">
			<s1:operation soapAction="smartPostClose" style="document"/>
			<input>
				<s1:body use="literal"/>
			</input>
			<output>
				<s1:body use="literal"/>
			</output>
		</operation>
		<operation name="groundClose">
			<s1:operation soapAction="groundClose" style="document"/>
			<input>
				<s1:body use="literal"/>
			</input>
			<output>
				<s1:body use="literal"/>
			</output>
		</operation>
		<operation name="groundCloseReportsReprint">
			<s1:operation soapAction="groundCloseReportsReprint" style="document"/>
			<input>
				<s1:body use="literal"/>
			</input>
			<output>
				<s1:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="CloseService">
		<port name="CloseServicePort" binding="ns:CloseServiceSoapBinding">
			<s1:address location="https://gatewaybeta.fedex.com:443/web-services/close"/>
		</port>
	</service>
</definitions>
