fedex/wsdl/PackageMovementInformationService_v4.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://fedex.com/ws/packagemovementinformationservice/v4" xmlns:s1="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://fedex.com/ws/packagemovementinformationservice/v4" name="PackageMovementInformationServiceDefinitions">
	<types>
		<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://fedex.com/ws/packagemovementinformationservice/v4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="PostalCodeInquiryRequest" type="ns:PostalCodeInquiryRequest"/>
      <xs:element name="PostalCodeInquiryReply" type="ns:PostalCodeInquiryReply"/>
			<xs:element name="ServiceAvailabilityRequest" type="ns:ServiceAvailabilityRequest"/>
			<xs:element name="ServiceAvailabilityReply" type="ns:ServiceAvailabilityReply"/>
			<xs:complexType name="Address">
				<xs:annotation>
					<xs:documentation>The descriptive data for a physical location. </xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element minOccurs="0" name="PostalCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>Identification of a region (usually small) for mail/package delivery. Format and presence of this field will vary, depending on country. This element is required if the CountryCode is US or CA. PostalCode may also be required for other postal-aware countries.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>16</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="1" name="CountryCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>Identification of a country.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>2</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="WebAuthenticationDetail">
				<xs:annotation>
					<xs:documentation>Used in authentication of the sender's identity.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="UserCredential" type="ns:WebAuthenticationCredential" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Credential used to authenticate a specific software application. This value is provided by FedEx after registration.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="WebAuthenticationCredential">
				<xs:annotation>
					<xs:documentation>Two part authentication string used for the sender's identity.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="Key" type="xs:string" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Identifying part of the authentication key. This value is provided by FedEx after registration.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>16</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="Password" type="xs:string" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Secret part of authentication key used for authentication. This value is provided by FedEx after registration.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>25</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="CarrierCodeType">
				<xs:annotation>
					<xs:documentation>Identification of a FedEx operating company (transportation).</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">          
					<xs:enumeration value="FDXE"/>
          <xs:enumeration value="FDXG"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ClientDetail">
				<xs:annotation>
					<xs:documentation>The descriptive data identifying the client submitting the transaction.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element minOccurs="1" name="AccountNumber" type="xs:string">
						<xs:annotation>
							<xs:documentation>Identifies the FedEx account number assigned to the customer.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>12</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="1" name="MeterNumber" type="xs:string">
						<xs:annotation>
							<xs:documentation>Identifies the unique client device submitting the request. </xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>10</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="Localization" type="ns:Localization" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Governs any future language/translations used for human-readable Notification.localizedMessages in responses to the request containing this ClientDetail object. Different requests from the same client may contain different Localization data. (Contrast with TransactionDetail.localization, which governs data payload language/translation.)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="DayOfWeekType">
				<xs:annotation>
					<xs:documentation>Identifies the set of valid day of week abbreviated values.</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="FRI"/>
					<xs:enumeration value="MON"/>
					<xs:enumeration value="SAT"/>
					<xs:enumeration value="SUN"/>
					<xs:enumeration value="THU"/>
					<xs:enumeration value="TUE"/>
					<xs:enumeration value="WED"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="Localization">
				<xs:annotation>
					<xs:documentation>The descriptive data for the local language and locale (i.e. country).</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element minOccurs="1" name="LanguageCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>Identifies the language to use for human-readable messages.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>2</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="LocaleCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>Identifies the locale (i.e.  country code).</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>2</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Notification">
				<xs:annotation>
					<xs:documentation>The descriptive data regarding the results of the submitted transaction.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element minOccurs="1" name="Severity" type="ns:NotificationSeverityType">
						<xs:annotation>
							<xs:documentation>Identifies the severity of the Notification item. See NotificationSeverityType for list of returned values.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="1" name="Source" type="xs:string">
						<xs:annotation>
							<xs:documentation>Identifies the source - what FedEx system, sub-system, or component generated the Notification item.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="Code" type="xs:string">
						<xs:annotation>
							<xs:documentation>Identifies the error code generated by the FedEx system, sub-system or component.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>8</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="Message" type="xs:string">
						<xs:annotation>
							<xs:documentation>Identifies the error message text.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>255</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="LocalizedMessage" type="xs:string">
						<xs:annotation>
							<xs:documentation>Identifies the error message text in the localization requested. Currently not supported.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="MessageParameters" type="ns:NotificationParameter">
						<xs:annotation>
							<xs:documentation>Used internally by FedEx systems for message translation.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="NotificationParameter">
				<xs:sequence>
					<xs:element name="Id" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Name identifiying the type of the data in the element 'Value'</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Value" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The value that was used as the replacement parameter.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="NotificationSeverityType">
				<xs:annotation>
					<xs:documentation>Identifies the set of severity values for a Notification.</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="ERROR"/>
					<xs:enumeration value="FAILURE"/>
					<xs:enumeration value="NOTE"/>
					<xs:enumeration value="SUCCESS"/>
					<xs:enumeration value="WARNING"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="PackagingType">
				<xs:annotation>
					<xs:documentation>Identifies the collection of available FedEx packaging options.</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="FEDEX_10KG_BOX"/>
					<xs:enumeration value="FEDEX_25KG_BOX"/>
					<xs:enumeration value="FEDEX_BOX"/>
					<xs:enumeration value="FEDEX_ENVELOPE"/>
					<xs:enumeration value="FEDEX_PAK"/>
					<xs:enumeration value="FEDEX_TUBE"/>
					<xs:enumeration value="YOUR_PACKAGING"/>
				</xs:restriction>
			</xs:simpleType>
      <xs:complexType name="PostalCodeInquiryRequest">
        <xs:annotation>
          <xs:documentation>FedEx Postal Code Inquiry request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail" minOccurs="1">
            <xs:annotation>
              <xs:documentation>The descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClientDetail" type="ns:ClientDetail">
            <xs:annotation>
              <xs:documentation>The descriptive data identifying the client submitting the transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The descriptive data for this customer transaction. The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Version" type="ns:VersionId">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CarrierCode" type="ns:CarrierCodeType">
            <xs:annotation>
              <xs:documentation>Identifies the carrier code type.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PostalCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the postal code. Required if CountryCode is US or CA.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the country code.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PostalCodeInquiryReply">
        <xs:annotation>
          <xs:documentation>FedEx Postal Code Inquiry reply.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="HighestSeverity" type="ns:NotificationSeverityType">
            <xs:annotation>
              <xs:documentation>Identifies the highest severity encountered when executing the request; in order from high to low: FAILURE, ERROR, WARNING, NOTE, SUCCESS.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Notifications" type="ns:Notification" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The descriptive data detailing the status of a sumbitted transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Descriptive data that governs data payload language/translations.  The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Version" type="ns:VersionId" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpressFreightContractorDeliveryArea" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Flag identifying whether Express Freight Contractor Delivery Area.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpressDescription" type="ns:PostalCodeServiceAreaDescription" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Postal code service area description for Express.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpressFreightDescription" type="ns:PostalCodeServiceAreaDescription" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Postal code service area description for Express Freight.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PostalCodeServiceAreaDescription">
        <xs:annotation>
          <xs:documentation>Postal Code Service Area description.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="LocationId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Location ID</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StateOrProvinceCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>State or Province code</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PostalCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Postal Code</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ServiceArea" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Service area code</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
			<xs:complexType name="ServiceAvailabilityOption">
				<xs:annotation>
					<xs:documentation>The descriptive data which identifies an available FedEx Service.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element minOccurs="0" name="Service" type="ns:ServiceType">
						<xs:annotation>
							<xs:documentation>Identifies a FedEx Service that is available between the origin and destination provided in the request.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="DeliveryDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>Identifies the delivery date of the available service.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="DeliveryDay" type="ns:DayOfWeekType">
						<xs:annotation>
							<xs:documentation>Identifies the delivery day of week of the available service. See DayOfWeekType for valid values.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="DestinationStationId" type="xs:string">
						<xs:annotation>
							<xs:documentation>Identifies the FedEx location identifier of the package destination.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>4</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
          <xs:element minOccurs="0" name="DestinationAirportId" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identification of an airport, using standard three-letter abbreviations.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
			</xs:complexType>
			<xs:complexType name="ServiceAvailabilityReply">
				<xs:annotation>
					<xs:documentation>The descriptive data returned for a FedEx service availability request.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element minOccurs="1" name="HighestSeverity" type="ns:NotificationSeverityType">
						<xs:annotation>
							<xs:documentation>Identifies the highest severity encountered when executing the request; in order from high to low: FAILURE, ERROR, WARNING, NOTE, SUCCESS.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="Notifications" type="ns:Notification">
						<xs:annotation>
							<xs:documentation>The descriptive data detailing the status of a sumbitted transaction.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail">
						<xs:annotation>
							<xs:documentation>Descriptive data that governs data payload language/translations.  The TransactionDetail from the request is echoed back to the caller in the corresponding reply. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="Version" type="ns:VersionId">
						<xs:annotation>
							<xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="Options" type="ns:ServiceAvailabilityOption">
						<xs:annotation>
							<xs:documentation>The descriptive data for the collection of available FedEx Services returned for the request.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ServiceAvailabilityRequest">
				<xs:annotation>
					<xs:documentation>The descriptive data which is used to determine which FedEx Express services are available between an origin and destination. To check the availability of one particular FedEx Express service and packaging type, include the Service and Packaging elements in the request message. Only information regarding that single service and packaging type will be returned from the request. To obtain a list of all available services for a given origin and destination, omit the Service and Packaging elements from the request. In this case the reply will contain every available service.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail" minOccurs="1">
						<xs:annotation>
							<xs:documentation>The descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="1" name="ClientDetail" type="ns:ClientDetail">
						<xs:annotation>
							<xs:documentation>The descriptive data identifying the client submitting the transaction.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail">
						<xs:annotation>
							<xs:documentation>The descriptive data for this customer transaction. The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Version" type="ns:VersionId">
						<xs:annotation>
							<xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="1" name="Origin" type="ns:Address">
						<xs:annotation>
							<xs:documentation>The descriptive data for the physical location from which the shipment originates.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="1" name="Destination" type="ns:Address">
						<xs:annotation>
							<xs:documentation>The descriptive data for the physical location to which the shipment is destined.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="1" name="ShipDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>The date on which the package will be shipped. The date should not  be a past date or a date more than 10 days in the future. The date format must be YYYY-MM-DD.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="1" name="CarrierCode" type="ns:CarrierCodeType">
						<xs:annotation>
							<xs:documentation>Identification of a FedEx operating company (transportation). For this transaction the value must be "FDXE".</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="Service" type="ns:ServiceType">
						<xs:annotation>
							<xs:documentation>Identifies the FedEx transportation service to check for availability. See ServiceType for valid values. Omit this element and the Packaging element to get a list of every available service.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="Packaging" type="ns:PackagingType">
						<xs:annotation>
							<xs:documentation>Identifies the FedEx packaging type used by the requestor for the package. See PackagingType for valid values. Omit this element and the Service element to get a list of every available service.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ServiceType">
				<xs:annotation>
					<xs:documentation>Identifies the collection of available FedEx transportation service options.</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="EUROPE_FIRST_INTERNATIONAL_PRIORITY"/>
					<xs:enumeration value="FEDEX_1_DAY_FREIGHT"/>
					<xs:enumeration value="FEDEX_2_DAY"/>
					<xs:enumeration value="FEDEX_2_DAY_FREIGHT"/>
					<xs:enumeration value="FEDEX_3_DAY_FREIGHT"/>
					<xs:enumeration value="FEDEX_EXPRESS_SAVER"/>
					<xs:enumeration value="FEDEX_GROUND"/>
					<xs:enumeration value="FIRST_OVERNIGHT"/>
					<xs:enumeration value="GROUND_HOME_DELIVERY"/>
					<xs:enumeration value="INTERNATIONAL_DISTRIBUTION_FREIGHT"/>
					<xs:enumeration value="INTERNATIONAL_ECONOMY"/>
					<xs:enumeration value="INTERNATIONAL_ECONOMY_DISTRIBUTION"/>
					<xs:enumeration value="INTERNATIONAL_ECONOMY_FREIGHT"/>
					<xs:enumeration value="INTERNATIONAL_FIRST"/>
					<xs:enumeration value="INTERNATIONAL_PRIORITY"/>
					<xs:enumeration value="INTERNATIONAL_PRIORITY_DISTRIBUTION"/>
					<xs:enumeration value="INTERNATIONAL_PRIORITY_FREIGHT"/>
					<xs:enumeration value="PRIORITY_OVERNIGHT"/>
					<xs:enumeration value="STANDARD_OVERNIGHT"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="TransactionDetail">
				<xs:annotation>
					<xs:documentation>The descriptive data that governs data payload language/translations.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element minOccurs="0" name="CustomerTransactionId" type="xs:string">
						<xs:annotation>
							<xs:documentation>Identifies a customer-supplied unique identifier for this transaction. It is returned in the reply message to aid in matching requests to replies.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>40</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="Localization" type="ns:Localization">
						<xs:annotation>
							<xs:documentation>Governs any future language/translations applied to the data payload(contrasted with ClientDetail.localization, which governs Notification.localizedMessage language selection).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="VersionId">
				<xs:annotation>
					<xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).
							</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="ServiceId" type="xs:string" minOccurs="1" fixed="pmis">
						<xs:annotation>
							<xs:documentation>Identifies a system or sub-system which performs an operation. Customers using the FedEx Web Services interface should set this element to "pmis".</xs:documentation>
			            </xs:annotation>
					</xs:element>
					<xs:element name="Major" type="xs:int" minOccurs="1" fixed="4">
						<xs:annotation>
							<xs:documentation>Identifies the service business level. This value should be set to 4.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Intermediate" type="xs:int" minOccurs="1" fixed="0">
						<xs:annotation>
							<xs:documentation>Identifies the service interface level. This value should be set to 0.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Minor" type="xs:int" minOccurs="1" fixed="0">
						<xs:annotation>
							<xs:documentation>Identifies the service code level. This value should be set to 0.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="ServiceAvailabilityRequest">
		<part name="ServiceAvailabilityRequest" element="ns:ServiceAvailabilityRequest">
			<documentation>Defines the request data element of the operation.</documentation>
		</part>
	</message>
	<message name="ServiceAvailabilityReply">
		<part name="ServiceAvailabilityReply" element="ns:ServiceAvailabilityReply">
			<documentation>Defines the response data element of the operation.</documentation>
		</part>
	</message>
  <message name="PostalCodeInquiryRequest">
    <part name="PostalCodeInquiryRequest" element="ns:PostalCodeInquiryRequest"/>
  </message>
  <message name="PostalCodeInquiryReply">
    <part name="PostalCodeInquiryReply" element="ns:PostalCodeInquiryReply"/>
  </message>
	<portType name="PackageMovementInformationPortType">
		<documentation>This element describes the web service, the operations performed and the messages involved in the operation.</documentation>
    <operation name="postalCodeInquiry" parameterOrder="PostalCodeInquiryRequest">
      <input message="ns:PostalCodeInquiryRequest"/>
      <output message="ns:PostalCodeInquiryReply"/>
    </operation>
		<operation name="serviceAvailability" parameterOrder="ServiceAvailabilityRequest">
			<input message="ns:ServiceAvailabilityRequest">
				<documentation>Defines the input message type for the serviceAvailability operation.</documentation>
			</input>
			<output message="ns:ServiceAvailabilityReply">
				<documentation>Defines the output message type for the serviceAvailability operation.</documentation>
			</output>
		</operation>
	</portType>
	<binding name="PackageMovementInformationServiceSoapBinding" type="ns:PackageMovementInformationPortType">
		<s1:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="postalCodeInquiry">
      <s1:operation soapAction="postalCodeInquiry" style="document"/>
      <input>
        <s1:body use="literal"/>
      </input>
      <output>
        <s1:body use="literal"/>
      </output>
    </operation>
		<operation name="serviceAvailability">
			<s1:operation soapAction="serviceAvailability" style="document"/>
			<input>
				<s1:body use="literal"/>
			</input>
			<output>
				<s1:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="PackageMovementInformationService">
		<port name="PackageMovementInformationServicePort" binding="ns:PackageMovementInformationServiceSoapBinding">
			<s1:address location="https://gateway.fedex.com:443/web-services"/>
		</port>
	</service>
</definitions>
